<div class="page-header">
    <h1>TimeSide</h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <p class="lead">Time-tracking tool for counting working hours daily.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <img src="./images/timesheet.png" class="img-responsive" alt="Responsive image"/>
    </div>
    <div class="col-xs-6 col-sm-6">
        <blockquote class="blockquote-reverse">
            <p>Time is on my side, yes it is!</p>
            <footer>The Rolling Stones</footer>
        </blockquote>
    </div>
    <div class="col-xs-12 col-sm-3">
        <p>Repository on GitHub <a href="https://github.com/LunaWorks/TimeSide">LunaWorks/TimeSide</a>.</p>

        {{'Angular is ON.'}}

        Message: {{ mesage }}
        Message 2: {{ wc.message }}
    </div>
</div>
    